bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
temp-notes.txt
.idea
CopperDevs.Games.Framework.sln.DotSettings.user
/shelf/
/workspace.xml
/contentModel.xml
/.idea.CopperDevs.Games.Framework.iml
/modules.xml
/projectSettingsUpdater.xml
/httpRequests/
/dataSources/
/dataSources.local.xml
.vscode